GPU_DEVICE = 0
 
BT_THREADS_PER_BLOCK_ON_ADD = 512
BT_THREADS_PER_BLOCK_ON_RHS_1 = 1024
BT_THREADS_PER_BLOCK_ON_RHS_2 = 1024
BT_THREADS_PER_BLOCK_ON_RHS_3 = 64
BT_THREADS_PER_BLOCK_ON_RHS_4 = 256
BT_THREADS_PER_BLOCK_ON_RHS_5 = 512
BT_THREADS_PER_BLOCK_ON_RHS_6 = 256
BT_THREADS_PER_BLOCK_ON_RHS_7 = 1024
BT_THREADS_PER_BLOCK_ON_RHS_8 = 512
BT_THREADS_PER_BLOCK_ON_RHS_9 = 512
BT_THREADS_PER_BLOCK_ON_X_SOLVE_1 = 1024
BT_THREADS_PER_BLOCK_ON_X_SOLVE_2 = 1024
BT_THREADS_PER_BLOCK_ON_X_SOLVE_3 = 256
BT_THREADS_PER_BLOCK_ON_Y_SOLVE_1 = 1024
BT_THREADS_PER_BLOCK_ON_Y_SOLVE_2 = 1024
BT_THREADS_PER_BLOCK_ON_Y_SOLVE_3 = 512
BT_THREADS_PER_BLOCK_ON_Z_SOLVE_1 = 1024
BT_THREADS_PER_BLOCK_ON_Z_SOLVE_2 = 1024
BT_THREADS_PER_BLOCK_ON_Z_SOLVE_3 = 128
BT_THREADS_PER_BLOCK_ON_EXACT_RHS_1 = 32
BT_THREADS_PER_BLOCK_ON_EXACT_RHS_2 = 32
BT_THREADS_PER_BLOCK_ON_EXACT_RHS_3 = 32
BT_THREADS_PER_BLOCK_ON_EXACT_RHS_4 = 32
BT_THREADS_PER_BLOCK_ON_ERROR_NORM_1 = 32
BT_THREADS_PER_BLOCK_ON_ERROR_NORM_2 = 32
BT_THREADS_PER_BLOCK_ON_INITIALIZE = 32
BT_THREADS_PER_BLOCK_ON_RHS_NORM_1 = 32
BT_THREADS_PER_BLOCK_ON_RHS_NORM_2 = 32

CG_THREADS_PER_BLOCK_ON_KERNEL_ONE = 1024
CG_THREADS_PER_BLOCK_ON_KERNEL_TWO = 256
CG_THREADS_PER_BLOCK_ON_KERNEL_THREE = 64
CG_THREADS_PER_BLOCK_ON_KERNEL_FOUR = 256
CG_THREADS_PER_BLOCK_ON_KERNEL_FIVE = 64
CG_THREADS_PER_BLOCK_ON_KERNEL_SIX = 256
CG_THREADS_PER_BLOCK_ON_KERNEL_SEVEN = 512
CG_THREADS_PER_BLOCK_ON_KERNEL_EIGHT = 64
CG_THREADS_PER_BLOCK_ON_KERNEL_NINE = 512
CG_THREADS_PER_BLOCK_ON_KERNEL_TEN = 256
CG_THREADS_PER_BLOCK_ON_KERNEL_ELEVEN = 512
 
EP_THREADS_PER_BLOCK = 32
 
FT_THREADS_PER_BLOCK_ON_COMPUTE_INDEXMAP = 32
FT_THREADS_PER_BLOCK_ON_COMPUTE_INITIAL_CONDITIONS = 32
FT_THREADS_PER_BLOCK_ON_EVOLVE = 32
FT_THREADS_PER_BLOCK_ON_FFTX_1 = 1024
FT_THREADS_PER_BLOCK_ON_FFTX_2 = 32
FT_THREADS_PER_BLOCK_ON_FFTX_3 = 256
FT_THREADS_PER_BLOCK_ON_FFTY_1 = 32
FT_THREADS_PER_BLOCK_ON_FFTY_2 = 32
FT_THREADS_PER_BLOCK_ON_FFTY_3 = 32
FT_THREADS_PER_BLOCK_ON_FFTZ_1 = 32
FT_THREADS_PER_BLOCK_ON_FFTZ_2 = 32
FT_THREADS_PER_BLOCK_ON_FFTZ_3 = 32
FT_THREADS_PER_BLOCK_ON_CHECKSUM = 32
FT_THREADS_PER_BLOCK_ON_INIT_UI = 32
 
IS_THREADS_PER_BLOCK_ON_CREATE_SEQ = 128
IS_THREADS_PER_BLOCK_ON_RANK = 512
IS_THREADS_PER_BLOCK_ON_FULL_VERIFY = 128
 
LU_THREADS_PER_BLOCK_ON_ERHS_1 = 32
LU_THREADS_PER_BLOCK_ON_ERHS_2 = 32
LU_THREADS_PER_BLOCK_ON_ERHS_3 = 32
LU_THREADS_PER_BLOCK_ON_ERHS_4 = 32
LU_THREADS_PER_BLOCK_ON_ERROR = 32
LU_THREADS_PER_BLOCK_ON_NORM = 512
LU_THREADS_PER_BLOCK_ON_JACLD_BLTS = 1024
LU_THREADS_PER_BLOCK_ON_JACU_BUTS = 1024
LU_THREADS_PER_BLOCK_ON_L2NORM = 64
LU_THREADS_PER_BLOCK_ON_PINTGR_1 = 64
LU_THREADS_PER_BLOCK_ON_PINTGR_2 = 64
LU_THREADS_PER_BLOCK_ON_PINTGR_3 = 64
LU_THREADS_PER_BLOCK_ON_PINTGR_4 = 1024
LU_THREADS_PER_BLOCK_ON_RHS_1 = 32
LU_THREADS_PER_BLOCK_ON_RHS_2 = 32
LU_THREADS_PER_BLOCK_ON_RHS_3 = 1024
LU_THREADS_PER_BLOCK_ON_RHS_4 = 32
LU_THREADS_PER_BLOCK_ON_SETBV_1 = 32
LU_THREADS_PER_BLOCK_ON_SETBV_2 = 32
LU_THREADS_PER_BLOCK_ON_SETBV_3 = 32
LU_THREADS_PER_BLOCK_ON_SETIV = 32
LU_THREADS_PER_BLOCK_ON_SSOR_1 = 512
LU_THREADS_PER_BLOCK_ON_SSOR_2 = 1024

MG_THREADS_PER_BLOCK_ON_COMM3 = 1024
MG_THREADS_PER_BLOCK_ON_INTERP = 32
MG_THREADS_PER_BLOCK_ON_NORM2U3 = 32
MG_THREADS_PER_BLOCK_ON_PSINV = 1024
MG_THREADS_PER_BLOCK_ON_RESID = 512
MG_THREADS_PER_BLOCK_ON_RPRJ3 = 512
MG_THREADS_PER_BLOCK_ON_ZERO3 = 128
 
SP_THREADS_PER_BLOCK_ON_ADD = 32
SP_THREADS_PER_BLOCK_ON_COMPUTE_RHS_1 = 32
SP_THREADS_PER_BLOCK_ON_COMPUTE_RHS_2 = 512
SP_THREADS_PER_BLOCK_ON_ERROR_NORM_1 = 1024
SP_THREADS_PER_BLOCK_ON_ERROR_NORM_2 = 1024
SP_THREADS_PER_BLOCK_ON_EXACT_RHS_1 = 32
SP_THREADS_PER_BLOCK_ON_EXACT_RHS_2 = 32
SP_THREADS_PER_BLOCK_ON_EXACT_RHS_3 = 32
SP_THREADS_PER_BLOCK_ON_EXACT_RHS_4 = 32
SP_THREADS_PER_BLOCK_ON_INITIALIZE = 32
SP_THREADS_PER_BLOCK_ON_RHS_NORM_1 = 1024
SP_THREADS_PER_BLOCK_ON_RHS_NORM_2 = 1024
SP_THREADS_PER_BLOCK_ON_TXINVR = 32
SP_THREADS_PER_BLOCK_ON_X_SOLVE = 256
SP_THREADS_PER_BLOCK_ON_Y_SOLVE = 64
SP_THREADS_PER_BLOCK_ON_Z_SOLVE = 64